/projects/GD32F207C-EVAL-KEIL/Listings
/projects/GD32F207C-EVAL-KEIL/Objects
/projects/GD32F207C-EVAL-KEIL/JLinkLog.txt
/projects/GD32F207C-EVAL-KEIL/JLinkSettings.ini
/projects/GD32F207C-EVAL-KEIL/EventRecorderStub.scvd
*.Administrator
/.vscode
projects/GD32F207C-EVAL-IAR/Debug
projects/GD32F207C-EVAL-IAR/settings
projects/GD32F207C-EVAL-IAR/Release
projects/GD32F207C-EVAL-IAR/BuildLog.log
projects/GD32F207C-EVAL-IAR/BuildLog.log
*.dep
projects/CS6X00-IAR/Debug
projects/CS6X00-IAR/settings
projects/CS6X00-IAR/Release
projects/CS6X00-IAR/BuildLog.log
projects/CS6X00-IAR/BuildLog.log
server/node_modules
projects/STM32F429I_WildFire_IAR/Application/
projects/STM32F429I_WildFire_IAR/BuildLog.log
projects/STM32F429I_WildFire_IAR/settings/
*/Debug/
*/settings/
*/BuildLog.log
*/Application/
mqtt_server/node_modules
mqtt_client/node_modules
mqtt_client/app/node_modules
components/lwip-2.0.2/apps/LwipMibCompiler